
/* Stylesheet content from css/booknews.css in folder common */



#footer {
	position: relative;
	margin-top: 125%; /* negative value of footer height */
	height: 63px;
	clear: both;
	background-color: #0072FF;
}